<div class="container" style="margin: 0px !important;padding: 0.25rem !important;">
  <table class="table table-hover">
    <thead>
      <tr class="tittle tb-head-second">
        <th colSpan="15">LISTA DE CASOS ASIGNADOS</th>
      </tr>
      <tr class="text-center tb-head">
        <th scope="col">Nombre de Paciente</th>
        <th scope="col">Sexo</th>
        <th scope="col">Edad</th>
        <th scope="col">Grupo</th>
        <th scope="col">Factor de Riesgo</th>
        <th scope="col">Fecha Inicio de Sintomas</th>
        <th scope="col">Fecha Toma de Muestras</th>
        <th scope="col">Día seguimiento</th>
        <th scope="col">Tipo de prueba 1</th>
        <th scope="col">Resultado prueba 1</th>
        <th scope="col">Tipo de prueba 2</th>
        <th scope="col">Resultado prueba 2</th>
        <th scope="col">Tipo de prueba 3</th>
        <th scope="col">Resultado prueba 3</th>
        <th scope="col">Atención Caso</th>
      </tr>
    </thead>
    <tbody>
            {{#each my_cases}}
                <tr class="border border-secondary">
                    <td>{{ this.nombre }}</td>
                    <td>{{ this.sexo }}</td>
                    <td>{{ this.edad }}</td>
                    <td>{{ this.grupo }}</td>
                    <td>{{ this.factor_riesgo }}</td>
                    <td>{{ this.fecha_inicio_sintomas }}</td>
                    <td>{{ this.fecha_toma_muestra }}</td>
                    <td>{{ this.tiempo_seguimiento }}</td>
                    <td>{{ this.tipo_prueba_1 }}</td>
                    <td>{{ this.resultado_prueba_1 }}</td>
                    <td>{{ this.tipo_prueba_2 }}</td>
                    <td>{{ this.resultado_prueba_2 }}</td>
                    <td>{{ this.tipo_prueba_3 }}</td>
                    <td>{{ this.resultado_prueba_3 }}</td>
                    <td><a href="/dashboard/case/{{ this.id_case }}"><button><small>Tomar caso</small></button></a></td>
                </tr>
            {{/each}}
    </tbody>
  </table>
</div>