<div class="container" style="margin: 0px !important;padding: 0.25rem !important;">
    <table class="table table-hover">
        <thead>
            <tr class="tittle tb-head-second">
                <th colSpan="11">LISTA DE CASOS PENDIENTES POR ATENDER</th>
            </tr>
            <tr class="text-center tb-head">
                <th scope="col">Nombre de Paciente</th>
                <th scope="col">Sexo</th>
                <th scope="col">Edad</th>
                <th scope="col">Grupo</th>
                <th scope="col">Factor de Riesgo</th>
                <th scope="col">Fecha Inicio de Sintomas</th>
                <th scope="col">Fecha Toma de Muestras</th>
                <th scope="col">Dia seguimiento</th>
                <th scope="col">Resultado prueba rapida</th>
                <th scope="col">Resultado prueba molecular</th>
                <th scope="col">Atención Caso</th>
            </tr>
        </thead>
        <tbody>
            {{#each cases }}
                <tr class="border border-secondary">
                    <td>{{ this.nombre }}</td>
                    <td>{{ this.sexo }}</td>
                    <td>{{ this.edad }}</td>
                    <td>{{ this.grupo }}</td>
                    <td>{{ this.factor_riesgo }}</td>
                    <td>{{ this.fecha_inicio_sintomas }}</td>
                    <td>{{ this.fecha_toma_muestra }}</td>
                    <td>{{ this.tiempo_seguimiento }}</td>
                    <td>{{ this.resultado_rapido }}</td>
                    <td>{{ this.resultado_molecular }}</td>
                    <td><a href="/dashboard/case/{{ this.id_case }}"><button><small>Tomar caso</small></button></a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>