<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link
            href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/pulse/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-FnujoHKLiA0lyWE/5kNhcd8lfMILbUAZFAT89u11OhZI7Gt135tk3bGYVBC2xmJ5"
            crossorigin="anonymous" />
        <!-- MATERIAL DESIGN ICONIC FONT -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
            />

        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>

        {{#if islogin }}
            <div class="navbar">
                <div class="logo">
                    <p>
                        <i class="zmdi zmdi-view-dashboard"></i>
                        Sistema de Monitoreo de Pacientes - Covit 19
                    </p>
                </div>
                <ul>
                    <li>Hola, {{ nombre }}</li>
                    <span class="sm-hide">|</span>
                    <li>
                        <a href="/logout">
                            <span class="sm-hide">
                                <i class="zmdi zmdi-square-right"></i>Logout
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="row nav-side">
                <div class="col-2">
                    <div
                        class="nav flex-column nav-pills"
                        id="v-pills-tab"
                        role="tablist"
                        aria-orientation="vertical">
                        <button
                            class="nav-link navlink link-active"
                            id="v-pills-home-tab"
                            data-toggle="pill"
                            href="#v-pills-home"
                            role="tab"
                            aria-controls="v-pills-home"
                            aria-selected="true">
                            
                            <i class="zmdi zmdi-home icon-navside"></i> <h6>Principal</h6>
                        </button>
                        <button
                            class="nav-link navlink"
                            id="v-pills-profile-tab"
                            data-toggle="pill"
                            role="tab"
                            aria-controls="v-pills-profile"
                            aria-selected="false">
                            <i class="zmdi zmdi-email icon-navside"></i>
                            <h6>Mi bandeja</h6>
                        </button>
                        <button
                            class="nav-link navlink"
                            id="v-pills-messages-tab"
                            data-toggle="pill"
                            role="tab"
                            aria-controls="v-pills-messages"
                            aria-selected="false">
                            <i class="zmdi zmdi-help"></i>
                            <h6>Otros</h6>
                        </button>
                    </div>
                </div>
                <div class="col-10">
                    {{{ body }}}
                </div>
            </div>
        {{else}}
            {{{ body }}}
        {{/if}}

                        <script
                            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                            crossorigin="anonymous"></script>
                        <script
                            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                            crossorigin="anonymous"></script>
                    </body>

                </html>