{{#each flash}}
    <div class="alert alert-{{this.type}}">{{this.message}}</div>
{{/each}}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Seguimiento por medico</h1>
</div>


{{!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h3 class="h3 mb-0 text-gray-800">Seguimiento por medico</h3>
</div> --}}
<!-- Content Row -->

{{#if attendanceStatisticsByDoctor}}
    <div class="row">
        {{#each attendanceStatisticsByDoctor}}
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-6 col-xl-2 col-md-3 mb-2 col-sm-4">
            <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-md font-weight-bold text-primary text-uppercase mb-1">{{nickname}}</div>
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">En seguimiento:</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ casetaked }}</div>
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nuevos casos:</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ newCases }}</div>
                </div>
                <div class="col-auto">
                
                    <i class="fas fa-procedures fa-2x text-gray-300"></i>
                </div>
                </div>
            </div>
            </div>
        </div>
        {{/each}}
    </div>
{{else}}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h3 class="h5 mb-0 text-gray-800">No hay casos atendidos.</h3>
    </div>
{{/if}}

