{{#each flash}}
<div class="alert alert-{{this.type}}">{{this.message}}</div>
{{/each}}
<style>
    .relative {
        position: relative;
    }
    .right {
        right: 0;
    }
    .top {
        top: 0;
    }
    .absolute {
        position: absolute;
    }
    .cancel {
        color: tomato;
        transform: scale(2);
        cursor: pointer;
    }
</style>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">CASO</h1>
</div>
<form method="POST">
    <div class="row">

        <div class="col-xl-3 col-lg-3">
            <div class="card card-comments shadow mb-4 border-left-warning">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Comentarios</h6>
                </div>
                <div class="card-body">
                    <ul class="case-comments ml-auto">
                        {{#each comments}}
                        <li class=" d-flex align-items-center">
                            <div>
                                <div class="small text-gray-500">{{ this.fecha_caso }}</div>
                                <span>{{ this.comentario }}</span>
                            </div>
                        </li>
                        {{/each}}
                        
                    </ul>


                </div>
            </div>

        </div>

        <div class="col-xl-6 col-lg-6">
            <div class="form-inputs-list">

                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">DATOS PACIENTE</h6>
                        <div class="call-action">
                            <a href="tel://{{celular}}" class="btn btn-success btn-circle btn-sm">
                                <i class="fas fa-phone-alt"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputEmail4">Paciente:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre"
                                    disabled value="{{nombre}}">
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">DNI:</label>
                                <input type="text" class="form-control" name="dni" id="dni" disabled value="{{dni}}" />
                            </div>
                            <div class="form-group col-md-5">
                                <label for="inputEmail4">Teléfono</label>
                                <input type="text" class="form-control" name="celular" id="celular"
                                    value="{{celular}}" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="inputEmail4">Grupo:</label>
                                <select class="form-control" id="grupo" name="grupo">
                                    <option value="">Seleccionar</option>
                                    {{#each groups}}
                                    <option value="{{ this.id }}" {{compare this.id ../grupo "selected"}}>{{ this.id }}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Factor de riesgo:</label>
                                <select class="form-control" id="factor_riesgo" name="factor_riesgo">
                                    <option value="">Seleccionar</option>
                                    {{#each factors}}
                                    <option value="{{ this.id }}" {{compare this.id ../factor_riesgo "selected"}}>
                                        {{ this.descripcion }}</option>
                                    {{/each}}
                                </select>

                            </div>
                            <div class="form-group col-md-5">
                                <label for="inputEmail4">Tipo Bandeja:</label>
                                <select class="form-control" id="estado" name="estado">
                                    <option value="">Seleccionar</option>
                                    {{#each status_patients}}
                                    <option value="{{ this.id }}" {{compare this.id ../estado "selected"}}>
                                        {{ this.descripcion }}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="fecha_inicio_sintomas">Fecha de inicio de sintómas:</label>
                                <input class="form-control" type="date" id="fecha_inicio_sintomas"
                                    name="fecha_inicio_sintomas" value="{{ fecha_inicio_sintomas }}" />

                            </div>
                            <div class="form-group col-md-5">

                                <label for="tiempo_seguimiento">Día de seguimiento</label>
                                <input class="form-control" type="text" id="tiempo_seguimiento"
                                    name="tiempo_seguimiento" placeholder="5" value="{{ tiempo_seguimiento }}"
                                    disabled />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                {{#if tipo_prueba_1}}
                                <tr class="tr_general">
                                    <td><label for="resultado_prueba_1">Resultado de prueba 1 -
                                            {{tipo_prueba_1}}:</label></td>
                                    <td class="td_select">
                                        <select name="resultado_prueba_1" class="browser-default custom-select mb-4"
                                            id="resultado_prueba_1">
                                            <option value="">Seleccionar</option>
                                            {{#each test}}
                                            <option value="{{ this.id }}"
                                                {{compare this.id ../resultado_prueba_1 "selected"}}>
                                                {{ this.descripcion }}</option>
                                            {{/each}}
                                        </select>
                                    </td>
                                </tr>
                                {{/if}}
                                {{#if tipo_prueba_2}}
                                <tr class="tr_general">
                                    <td><label for="resultado_prueba_2">Resultado de prueba 2 -
                                            {{tipo_prueba_2}}:</label></td>
                                    <td class="td_select">
                                        <select name="resultado_prueba_2" class="browser-default custom-select mb-4"
                                            id="resultado_prueba_2">
                                            <option value="">Seleccionar</option>
                                            {{#each test}}
                                            <option value="{{ this.id }}"
                                                {{compare this.id ../resultado_prueba_2 "selected"}}>
                                                {{ this.descripcion }}</option>
                                            {{/each}}
                                        </select>
                                    </td>
                                </tr>
                                {{/if}}
                                {{#if tipo_prueba_3}}
                                <tr class="tr_general">
                                    <td><label for="textInput">Resultado de prueba 3 - {{tipo_prueba_2}}:</label></td>
                                    <td class="td_select">
                                        {{ resultado_prueba_2 }}
                                        <select name="resultado_prueba_3" class="browser-default custom-select mb-4"
                                            id="select">
                                            <option value="">Seleccionar</option>
                                            {{#each test}}
                                            <option value="{{ this.id }}"
                                                {{compare this.id ../resultado_prueba_2 "selected"}}>
                                                {{ this.descripcion }}</option>
                                            {{/each}}
                                        </select>
                                    </td>
                                </tr>
                                {{/if}}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputEmail4">Condición de egreso:</label>
                                <select class="form-control" id="egreso" name="condicion_egreso">
                                    <option value="">Seleccionar</option>
                                            {{#each condicionesEgreso}}
                                            <option value="{{ this.id }}"
                                                {{compare this.id ../condicion_egreso "selected"}}>
                                                {{ this.descripcion }}</option>
                                            {{/each}}
                                </select>
                            </div>

                        </div>
                        <input type="hidden" name="tipo_guardado" id="tipo_guardado">



                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Seguimiento clínico diario del caso</h6>
                    </div>
                    <div class="card-body">

                        <div class="form-group row" style="flex-wrap: nowrap;padding: 1% 2%;">
                            <div style="min-width: 120px;display:flex;">
                                <ul style="padding: 0px; list-style: none;">
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Fecha
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Día
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        <strong>Funciones Vitales</strong>
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        FR
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Temperatura
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        <strong>Signos de Alarma</strong>
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Disnea
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Taquipnea (>= 22 pm)
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Saturación de oxígeno < 92%
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Alteración de la conciencia
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Otros
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        <strong>Síntomas</strong>
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Tos
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Dolor de garganta
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Congestión nasal
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Fiebre
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Malestar
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Dificultad respiratoria
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Diarrea
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Náusea/Vómito
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Cefalea
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Otros
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        <strong style="position: absolute;">Evolución según criterios clínicos  (L=Leve; M=Moderada; S=Severa)</strong>
                                    </li>
                                    <li style="min-width: 50px; height: 50px; display:flex; justify-content: flex-start; align-items: center;">
                                        Estado
                                    </li>
                                </ul>
                            </div>
                            <div style="width:calc(100% - 120px);overflow: auto;">
                                <div id="containet_form_check" style="display: flex;">
                                    {{#each previous_cases}}
                                    <div style="margin: 0px 20px;">
                                        <ul style="padding: 0px; list-style: none;">
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;"> <strong>{{ this.fecha_caso_char }}</strong></li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;"> <strong>{{ this.day_index }}</strong> </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;"></li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input disabled style="cursor: no-drop;" class="form-control" type="checkbox" {{#if this.fr_fv }}checked{{/if}}  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input disabled style="cursor: no-drop;" class="form-control" type="checkbox" {{#if this.temp_fv }}checked{{/if}}  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;"></li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input disabled style="cursor: no-drop;" class="form-control" type="checkbox" {{#if this.disnea_sa }}checked{{/if}}  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input disabled style="cursor: no-drop;" class="form-control" type="checkbox" {{#if this.taqui_sa }}checked{{/if}}  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input disabled style="cursor: no-drop;" class="form-control" type="checkbox" {{#if this.saturacion_sa }}checked{{/if}}  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input disabled style="cursor: no-drop;" class="form-control" type="checkbox" {{#if this.alteracion_sa }}checked{{/if}}  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input disabled style="cursor: no-drop;" class="form-control" type="checkbox" {{#if this.otros_sa }}checked{{/if}}  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;"></li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input disabled style="cursor: no-drop;" class="form-control" type="checkbox" {{#if this.tos }}checked{{/if}}  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input disabled style="cursor: no-drop;" class="form-control" type="checkbox" {{#if this.dolor_garganta }}checked{{/if}}  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input disabled style="cursor: no-drop;" class="form-control" type="checkbox" {{#if this.congestion_nasal }}checked{{/if}}  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input disabled style="cursor: no-drop;" class="form-control" type="checkbox" {{#if this.fiebre }}checked{{/if}}  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input disabled style="cursor: no-drop;" class="form-control" type="checkbox" {{#if this.malestar_general }}checked{{/if}}  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input disabled style="cursor: no-drop;" class="form-control" type="checkbox" {{#if this.dificultad_respitar }}checked{{/if}}  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input disabled style="cursor: no-drop;" class="form-control" type="checkbox" {{#if this.diarrea }}checked{{/if}}  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input disabled style="cursor: no-drop;" class="form-control" type="checkbox" {{#if this.nauseas }}checked{{/if}}  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input disabled style="cursor: no-drop;" class="form-control" type="checkbox" {{#if this.cefalea }}checked{{/if}}  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input disabled style="cursor: no-drop;" class="form-control" type="checkbox" {{#if this.otros }}checked{{/if}}  />
                                            </li>

                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;"></li>

                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <select disabled class="browser-default custom-select mb-4" >
                                                    {{#each ../estado_seguimiento}}
                                                        <option value="{{ this.id }}"
                                                        {{compare this.id ../estado_evo "selected"}}>
                                                        {{ this.descripcion }}</option>
                                                    {{/each}}
                                                </select>
                                            </li>
                                        </ul>
                                    </div>
                                    {{/each}}
                                    <div style="margin: 0px 20px;">
                                        <ul style="padding: 0px; list-style: none;">
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;"> <strong>{{ to_day }}</strong></li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;"> <strong>{{ tiempo_seguimiento }}</strong> </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;"></li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input  class="form-control" type="checkbox" {{#if fr_fv }} checked {{/if}}  name="fr_fv"  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input  class="form-control" type="checkbox" {{#if temp_fv }} checked {{/if}}  name="temp_fv"  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;"></li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input  class="form-control" type="checkbox" {{#if disnea_sa }} checked {{/if}}  name="disnea_sa"  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input  class="form-control" type="checkbox" {{#if taqui_sa }} checked {{/if}}  name="taqui_sa"  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input  class="form-control" type="checkbox" {{#if saturacion_sa }} checked {{/if}}  name="saturacion_sa"  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input  class="form-control" type="checkbox" {{#if alteracion_sa }} checked {{/if}}  name="alteracion_sa"  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input  class="form-control" type="checkbox" {{#if otros_sa }} checked {{/if}}  name="otros_sa"  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;"></li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input  class="form-control" type="checkbox" {{#if tos }} checked {{/if}}  name="tos"  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input  class="form-control" type="checkbox" {{#if dolor_garganta }} checked {{/if}}  name="dolor_garganta"  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input  class="form-control" type="checkbox" {{#if congestion_nasal }} checked {{/if}}  name="congestion_nasal"  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input  class="form-control" type="checkbox" {{#if fiebre }} checked {{/if}}  name="fiebre"  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input  class="form-control" type="checkbox" {{#if malestar_general }} checked {{/if}}  name="malestar_general"  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input  class="form-control" type="checkbox" {{#if dificultad_respitar }} checked {{/if}}  name="dificultad_respitar"  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input  class="form-control" type="checkbox" {{#if diarrea }} checked {{/if}}  name="diarrea"  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input  class="form-control" type="checkbox" {{#if nauseas }} checked {{/if}}  name="nauseas"  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input  class="form-control" type="checkbox" {{#if cefalea }} checked {{/if}}  name="cefalea"  />
                                            </li>
                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <input  class="form-control" type="checkbox" {{#if otros }} checked {{/if}}  name="otros"  />
                                            </li>

                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;"></li>

                                            <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                                <select name="estado_evo" class="browser-default custom-select mb-4">
                                                    {{#each estado_seguimiento}}
                                                        <option value="{{ this.id }}"
                                                            {{compare this.id ../estado_evo "selected"}}>
                                                            {{ this.descripcion }}</option>
                                                    {{/each}}
                                                </select>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Tratamiento</h6>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <select id="combo_box_tratamiento" class="browser-default custom-select mb-2" >
                                    </select>
                                    <input id="button_agregar_tratamiento" type="button" class="btn btn-primary bg-primary" value="Agregar tratamiento">
                                </div>

                                <div class="form-group col-md-12" id="container_treatments">
                                 
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Contactos</h6>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input id="text_box_contacto" class="browser-default mb-2 form-control" type="text" placeholder="Ingrese DNI"/>
                                    <input id="button_agregar_contacto" type="button" class="btn btn-primary bg-primary" value="Agregar Contacto">
                                </div>

                                <div class="form-group col-md-12" id="container_contact">
                                    
                                </div>

                            </div>
                        </div>

                    </div>
                </div>



                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Comentario</h6>
                    </div>
                    <div class="card-body">

                        <div class="form-group">


                            <textarea class="form-control" style="width: 100%;margin: 0px;padding:1%" id="comentario"
                                name="comentario" placeholder="Ingrese sus comentarios" maxlength="50" >{{ comentario }}</textarea>
                        </div>


                    </div>
                </div>

            </div>
           <div class="form-group d-flex justify-content-between" style="flex-wrap:wrap">
                <input class="btn btn-success" type="submit" value="VOY A SEGUIRLO MÁS TARDE" onclick="document.getElementById('tipo_guardado').value=1" style="margin:3%;width: 200px; white-space: normal;">
                <input class="btn btn-warning" type="submit" value="QUE ALGUIEN MÁS LO SIGA HOY" onclick="document.getElementById('tipo_guardado').value=3" style="margin:3%;width: 200px; white-space: normal;1">
            </div>
        </div>

        <div class="col-xl-3 col-lg-3">

            <div class="card  mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Guardar</h6>
                </div>
                <div class="card-body">


                   


                    <div class="form-group custom-switch">
                        <input type="checkbox" class="custom-control-input" name="continue_tracking" id="customSwitch1"
                            {{#if have_this_scheduled_case }} checked {{/if}} data-toggle="toggle" data-on="Si"
                            data-off="No" data-onstyle="success" data-offstyle="danger" />
                        <label class="custom-control-label" for="customSwitch1">Continuar el seguimiento</label>
                    </div>

                        <div class="form-group">
                            <label for="inputPassword">Nota de grupo:</label>
                            <textarea class="form-control" style="width: 100%;margin: 0px;padding:1%" id="comentario"
                                name="nota_grupo" maxlength="50" placeholder="Ingrese la nota de grupo">{{ nota_grupo }}</textarea>
                        </div>
                        <div class="custom-control d-flex justify-content-end">
                        <input class="btn btn-primary" type="submit" value="TERMINAR SEGUIMIENTO POR HOY"
                            onclick="document.getElementById('tipo_guardado').value=2" style="width: 200px;
    white-space: normal;1">
                       </div>

                </div>
            </div>


        </div>



    </div>

</form>




<script>

    const options = {
        "1": {
            "name": "Hidroxicloroquina",
            "life": 1
        },
        "2": {
            "name": "Azitromicina",
            "life": 1
        },
        "3": {
            "name": "Prednisona",
            "life": 1
        },
        "4": {
            "name": "Enoxaheparina",
            "life": 1
        },
        "5": {
            "name": "Aspirina",
            "life": 1
        },
        "6": {
            "name": "Warfarina",
            "life": 1
        },
        "7": {
            "name": "Otros",
            "life": 1000
        }
    }

    var countInputsNone = 0

    function arrayJsonToTreatmentsStruct(array){
        let json = {}
        for(let item of array){
            json[item.id] = item
        }
        return json
    }

    const treatments = arrayJsonToTreatmentsStruct(JSON.parse(`{{{ treatments_string }}}`))

    function printOptions(el, options){
        let html = ''
        for(let option in options){
            if(options[option].life > 0)
                html+= `<option value="${option}">${options[option].name}</option>`
        }
        el.innerHTML = html
    }

    function substractLife(id, life=1){
        options[id].life = options[id].life - life
    }

    function plusLife(id, life=1){
        options[id].life = options[id].life + life
    }

    function normalizerOptions(){
        for(let key in treatments){
            let treatment = treatments[key]
            let id = treatment.type //ID de tratamiento (Al mismo tiempo es el tipo de tratamiento)
            if(options[id]){
                substractLife(id, life=1)
            }
        }
    }

    function printTreatments(el){
        
        let html = ''
        
        for(let key in treatments){
            let treatment = treatments[key]
            let card_head = `<div class="card-header py-3">
                                <input type="hidden" id="input_tra_${key}_name" name="input_tra_${key}_name" value="${treatment.name}"/>
                                <p class="m-0 font-weight-bold text-primary">${treatment.name}</p>
                                <i class="fas fa-times-circle top right absolute cancel" onclick="remove_treatment('${key}', ${treatment.type})"></i>
                            </div>`

            if(treatment.type == 7)
                card_head = `<div class="card-header py-3 form-inline">
                                <label for="" class="m-0 font-weight-bold text-primary mr-2">Otros : </label>
                                <input class="form-control col-md-5" id="input_tra_${key}_name" name="input_tra_${key}_name" type="text" value="${treatment.name}"/>
                                <i class="fas fa-times-circle top right absolute cancel" onclick="remove_treatment('${key}', ${treatment.type})"></i>
                            </div>`

            let card = `<div class="card shadow mb-4 relative">
                            <input type="hidden" id="input_tra_${key}_type" name="input_tra_${key}_type" value="${treatment.type}"/>
                            <input type="hidden" id="input_tra_${key}_id" name="input_tra_${key}_id" value="${key}"/>
                            ${card_head}
                            <div class="card-body">
                                <div class="form-inline mb-2">
                                    <div class="form-group col-md-6">
                                        <label for="">Fecha de inicio :</label>
                                        <input class="form-control" id="input_tra_${key}_from" name="input_tra_${key}_from" type="date" value="${treatment.init}" />
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="">Fecha de fin :</label>
                                        <input class="form-control" type="date" id="input_tra_${key}_to" name="input_tra_${key}_to" value="${treatment.finish}" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="">Observaciones :</label>
                                    <textarea class="form-control" style="width: 100%;margin: 0px;padding:1%"
                                        id="input_tra_${key}_obs" name="input_tra_${key}_obs" placeholder="Ingrese sus comentarios" maxlength="50" >${treatment.observation}</textarea>
                                </div>
                            </div>
                        </div>`
            html+=card
        }

        el.innerHTML = html
    }

    function saveState(){
        for(let key in treatments){
            let name = document.getElementById(`input_tra_${key}_name`).value
            let init = document.getElementById(`input_tra_${key}_from`).value
            let finish = document.getElementById(`input_tra_${key}_to`).value
            let observation = document.getElementById(`input_tra_${key}_obs`).value
            treatments[key].name = name
            treatments[key].init = init
            treatments[key].finish = finish
            treatments[key].observation = observation
        }
    }

    function remove_treatment(key, type){
        saveState()
        plusLife(type)
        delete treatments[key]
        printTreatments(container_treatments)
        printOptions(combo_box_tratamiento, options)
    }

    function add_treatment(key, type, name=""){
        treatments[key] = {
            type: type,
            name: name,
            init: "",
            finish: "",
            observation: ""
        }
    }
    
    function init_treatments (){
        const combo_box_tratamiento = document.getElementById("combo_box_tratamiento")
        const button_agregar_tratamiento = document.getElementById("button_agregar_tratamiento")
        const container_treatments = document.getElementById("container_treatments")
        normalizerOptions()
        printOptions(combo_box_tratamiento, options)
        printTreatments(container_treatments)
        button_agregar_tratamiento.addEventListener("click", ()=>{
            saveState()
            let id = combo_box_tratamiento.value
            let name = combo_box_tratamiento.selectedOptions[0].text
            substractLife(id)
            let key = "none" + countInputsNone
            countInputsNone++
            add_treatment(key, id, name)
            printOptions(combo_box_tratamiento, options)
            printTreatments(container_treatments)
        })
    }

</script>


<script>
    var countInputsNoneContact = 0
    var container_contact
    //const contacts = {}
    const contacts = JSON.parse(`{{{ contacts_json }}}`)
    const monitor_options = ["", "A", "S","H", "F"]

    function remove_contact(key){
        saveStatusContacts() //Guardar el estado de los inputs para volver a generar HTML
        delete contacts[key]
        generateCardContact(container_contact)
    }

    function add_contact(key, data=null){
        saveStatusContacts() //Guardar el estado de los inputs para volver a generar HTML
        if(data)
            contacts[key] = data
        else
            contacts[key] = {
                "dni": "",
                "edad": "",
                "factor_riesgo": false,
                "seguimiento": false,
                "nombre": "",
                "observacion": "",
                "parentesco": "",
                "dia":2,
                "monitoreo": "",
                "monitoreos":[]
            }
        generateCardContact(container_contact)
    }
    
    function saveStatusContacts(){
        for(let key in contacts){
            
            let name = document.getElementById(`input_cont_${key}_name`).value
            
            let dni = document.getElementById(`input_cont_${key}_dni`).value
            
            let age = document.getElementById(`input_cont_${key}_age`).value
            
            let factor = document.getElementById(`input_cont_${key}_factor`).value
            
            let observation = document.getElementById(`input_cont_${key}_obs`).value
            
            let parent = document.getElementById(`input_cont_${key}_parent`).value
            
            let follow = document.getElementById(`input_cont_${key}_follow`).value
            

            let monitor = document.getElementById(`input_cont_${key}_monitor`) ? document.getElementById(`input_cont_${key}_monitor`).value : ""

            
            console.log(
                name,
                dni,
                age,
                factor,
                observation,
                parent,
                follow,
                monitor
            )
            contacts[key]["dni"] = dni
            contacts[key]["edad"] = age
            contacts[key]["monitoreo"] = monitor
            contacts[key]["factor_riesgo"] = factor
            contacts[key]["nombre"] = name
            contacts[key]["observacion"] = observation
            contacts[key]["seguimiento"] = follow
            contacts[key]["parentesco"] = parent
        }
    }
    
    function validateOptionMonitoreo(key){
        let html = ''
        for(let item of monitor_options){
            html+= key != null && item == key.toUpperCase() ? `<option value="${item}" selected>${item}</option>` : `<option value="${item}">${item}</option>`
        }
        return html
    }

    function generateCardContact(el){
        let html = '' //Texto base para almacenar HTML en texto
        
        //Iterar JSON por KEY
        for(let key in contacts){
            let contact = contacts[key] //Obtener Elemento "Contact" desde JSON

            //let follow = contact.seguimiento ? `<option value="NO">NO</option><option value="SI" selected>SI</option>` : `<option value="NO" selected>NO</option><option value="SI">SI</option>`
            let factor = contact.factor_riesgo ? `<option value="NO">NO</option><option value="SI" selected>SI</option>` : `<option value="NO" selected>NO</option><option value="SI">SI</option>`
            
            let factor_text = contact.factor_riesgo ? 'SI': 'NO'

            let html_name = contact.seguimiento.toUpperCase() != "NO" ? 
                        `<input disabled required class="form-control col-md-11" type="text" value="${contact.nombre}" />
                        <input id="input_cont_${key}_name" name="input_cont_${key}_name" type="hidden" value="${contact.nombre}" />`
                        : `<input  required class="form-control col-md-11" id="input_cont_${key}_name" name="input_cont_${key}_name" type="text" value="${contact.nombre}" />`
            let html_age = contact.seguimiento.toUpperCase() != "NO" && contact.edad != null && contact.edad != ""? 
                        `<input required disabled class="form-control col-md-11" type="text" value="${contact.edad}" />
                        <input  id="input_cont_${key}_age" name="input_cont_${key}_age" type="hidden" value="${contact.edad}" />`
                        : `<input required class="form-control col-md-11" id="input_cont_${key}_age" name="input_cont_${key}_age" type="text" value="${contact.edad}" />`
            let html_factor = contact.seguimiento.toUpperCase() != "NO" ? 
                        `<input type="hidden" value="${factor_text}" id="input_cont_${key}_factor" name="input_cont_${key}_factor" />
                        <select disabled  class="browser-default custom-select col-md-11 form-control">
                                        ${factor}
                         </select>`
                        : `<select required id="input_cont_${key}_factor" name="input_cont_${key}_factor" class="browser-default custom-select col-md-11 form-control">
                                        ${factor}
                         </select>`

            
            let last_monitors = '' //Texto base para almacenar Combos Boxs anteriores
            
            //Generar HTML TEXTO de combo box de monitoreos pasados
            for(let monitor of contact.monitoreos){
                let _html = validateOptionMonitoreo(monitor.monitoreo) //Validar Options de monitoreo segun KEY [  | A | S | H | F]
                last_monitors += `<div style="margin: 0px 20px;">
                                    <ul style="padding: 0px; list-style: none;">
                                        <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;"> <strong>${monitor.dia}</strong></li>
                                        <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                            <select disabled class="browser-default custom-select mb-4">
                                                ${_html}
                                            </select>
                                        </li>
                                    </ul>
                                </div>`
            }

            let monitor = validateOptionMonitoreo(contact.monitoreo) //Options validados segun KEY [  | A | S | H | F]

            let _html_monitor = `<div class="form-group row" style="flex-wrap: nowrap;padding: 1% 2%;overflow: auto;">
                                ${last_monitors}
                                <div style="margin: 0px 20px;">
                                    <ul style="padding: 0px; list-style: none;">
                                        <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;"> <strong>${contact.dia}</strong></li>
                                        <li style="min-width: 50px; height: 50px; display:flex; justify-content: center; align-items: center;">
                                            <select id="input_cont_${key}_monitor" name="input_cont_${key}_monitor" class="browser-default custom-select mb-4">
                                                ${monitor}
                                            </select>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <label for="" class="m-0 font-weight-bold text-primary">(Vacío=Pendiente; A=Asintomático; S=Sintomático; H=Hospitalizado; F=Fallecido)</label>`
            _html_monitor = contact.seguimiento.toUpperCase() != "PACIENTE" ? _html_monitor : ""
            html+=`<div class="card shadow mb-4 relative">
                        <input type="hidden" id="input_cont_${key}_id" name="input_cont_${key}_id" value="${key}"/>
                        <div class="card-header py-3 form-inline">
                            <div class="form-group col-md-6">
                                    <label for="" class="m-0 font-weight-bold text-primary">Parentesco :</label>
                                    <input required class="form-control col-md-11" id="input_cont_${key}_parent" name="input_cont_${key}_parent" type="text" value="${contact.parentesco}" />
                            </div>
                            <div class="form-group col-md-6">
                                    <label for="" class="m-0 font-weight-bold text-primary">Nombre :</label>
                                    ${html_name}
                            </div>
                            <i class="fas fa-times-circle top right absolute cancel" onclick="remove_contact('${key}')"></i>
                        </div>
                        <div class="card-body">
                            <div class="form-inline mb-2">
                                <div class="form-group col-md-6">
                                    <label for="">En seguimiento ?</label>
                                    <input disabled id="input_cont_${key}_follow" name="input_cont_${key}_follow" class="form-control col-md-11" type="text" value="${contact.seguimiento}" />
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="">DNI :</label>
                                    <input required type="hidden" id="input_cont_${key}_dni" name="input_cont_${key}_dni" value="${contact.dni}" />
                                    <input disabled class="form-control col-md-11" type="text"  value="${contact.dni}" />
                                </div>
                            </div>
                            <div class="form-inline mb-2">
                                <div class="form-group col-md-6">
                                    <label for="">Edad :</label>
                                    ${html_age}
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="">Factor de riesgo :</label>
                                    ${html_factor}
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="">Observaciones :</label>
                                <textarea class="form-control" style="width: 100%;margin: 0px;padding:1%"
                                    id="input_cont_${key}_obs" name="input_cont_${key}_obs" placeholder="Ingrese sus observaciones" maxlength="50" >${contact.observacion}</textarea>
                            </div>
                            ${_html_monitor}
                        </div>
                    </div>`
        }
        el.innerHTML = html
    }

    function initContacts(){
        const text_box_contacto = document.getElementById("text_box_contacto") //Obtener text box "Ingrese DNI"
        const button_agregar_contacto = document.getElementById("button_agregar_contacto") // Botón "Validar DNI"
        container_contact = document.getElementById("container_contact") // Contenedor de "Cards contactos" 
        generateCardContact(container_contact) //Convertir JSON en HTML Cards
        button_agregar_contacto.addEventListener("click", async ()=>{
            button_agregar_contacto.disabled = true
            let dni = text_box_contacto.value
            let rs = await fetch(`/api/v1/ajax/contact?dni=${dni}`)
            let json = await rs.json()
            console.log(contacts)
            console.log("Resultado AJAX : ", json.data)
            if(json.success){
                //contacts[json.data.dni] = json.data
                countInputsNoneContact++
                let key = "none"+countInputsNoneContact
                add_contact(key, json.data)
                console.log("Despues de agregar", contacts)
                //generateCardContact(container_contact)
            }
            button_agregar_contacto.disabled = false
        })
    }
    
</script>

<script>
    window.onload  = ()=>{
        init_treatments()
        initContacts()
        const scroll = document.getElementById("containet_form_check")
        scroll.parentNode.scrollTo(scroll.scrollWidth, 0)
    }
</script>