
<form  method="POST">
    <table class="modal-table">
        <thead>
            <tr>
                <th colSpan="2">DATOS GENERALES</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr_general">
                <td><label for="nombre">Paciente:</label></td>
                <td class=""> <input type="text" name="nombre" id="nombre" disabled value="{{nombre}}"
                        class="form-modal"placeholder="Juana Perez" /></td>
            </tr>
            <tr class="tr_general">
                <td><label for="dni">Documento de Identidad:</label></td>
                <td class=""> <input name="dni" type="text" id="dni" disabled value="{{dni}}"
                        class="form-modal"placeholder="Text input" /></td>
            </tr>
            <tr class="tr_general">
                <td><label for="celular">Teléfono:</label></td>
                <td class=""> <input type="text" name="celular" id="celular" value="{{celular}}"
                        class="form-modal"placeholder="Text input" /></td>
            </tr>
            <tr class="tr_general">
                <td><label for="grupo">Grupo:</label></td>
                <td class="td_select">
                    <select class="browser-default custom-select mb-4"
                        id="grupo" name="grupo">
                        {{#each groups}}
                            <option value="{{ this.id }}" {{compare this.id ../grupo "selected"}}>{{ this.id }}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr class="tr_general">
                <td><label for="factor_riesgo">Factor de riesgo:</label></td>
                <td class="td_select">
                    <select class="browser-default custom-select mb-4"
                        id="factor_riesgo" name="factor_riesgo">
                        {{#each factors}}
                            <option value="{{ this.id }}"  {{compare this.id ../factor_riesgo "selected"}}>{{ this.descripcion }}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr class="tr_general">
                <td><label for="estado">Tipo Bandeja:</label></td>
                <td class="td_select">
                    <select class="browser-default custom-select mb-4"
                        id="estado" name="estado">
                        {{#each status_patients}}
                            <option value="{{ this.id }}" {{compare this.id ../estado "selected"}}>{{ this.descripcion }}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr class="tr_general">
                <td><label for="fecha_inicio_sintomas">Fecha de inicio de sintómas:</label></td>
                <td><input type="date" id="fecha_inicio_sintomas" name="fecha_inicio_sintomas" class="form-modal" value="{{ fecha_inicio_sintomas }}"  /></td>
            </tr>
            <tr class="tr_general">
                <td><label for="tiempo_seguimiento">Día de seguimiento</label></td>
                <td class=""> <input type="text" id="tiempo_seguimiento" name="tiempo_seguimiento"
                        class="form-modal"placeholder="5" value="{{ tiempo_seguimiento }}" disabled /></td>
            </tr>
            {{#if tipo_prueba_1}}
                <tr class="tr_general">
                    <td><label for="resultado_prueba_1">Resultado de prueba 1 - {{tipo_prueba_1}}:</label></td>
                    <td class="td_select">
                        <select name="resultado_prueba_1" class="browser-default custom-select mb-4"
                            id="resultado_prueba_1">
                            {{#each test}}
                                <option value="{{ this.id }}" {{compare this.id ../resultado_prueba_1 "selected"}}>{{ this.descripcion }}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
            {{/if}}
            {{#if tipo_prueba_2}}
                <tr class="tr_general">
                    <td><label for="resultado_prueba_2">Resultado de prueba 2 - {{tipo_prueba_2}}:</label></td>
                    <td class="td_select">
                        <select name="resultado_prueba_2" class="browser-default custom-select mb-4"
                            id="resultado_prueba_2">
                            {{#each test}}
                                <option value="{{ this.id }}" {{compare this.id ../resultado_prueba_2 "selected"}}>{{ this.descripcion }}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
            {{/if}}
            {{#if tipo_prueba_3}}
                <tr class="tr_general">
                    <td><label for="textInput">Resultado de prueba 3 - {{tipo_prueba_2}}:</label></td>
                    <td class="td_select">
                        <select name="resultado_prueba_3" class="browser-default custom-select mb-4"
                            id="select">
                            {{#each test}}
                                <option value="{{ this.id }}" {{compare this.id ../resultado_prueba_2 "selected"}}>{{ this.descripcion }}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
            {{/if}}
            <tr class="">
                <td>
                    <a href="tel://{{celular}}"><input class="btn-call" type="button" value="CLICK PARA LLAMAR"></input></a>
                </td>
            </tr>
            <tr>
                <th colSpan="2">SINTOMAS</th>
            </tr>
            <script>

            </script>
            <tr class="tr_symptom">
                <td><label class="" for="fiebre">Fiebre:</label></td>
                <td class="td_input">
                    <input type="number" max="3" min="0" id="fiebre"
                        class="form-modal" name="fibre" value="{{ fiebre }}" /><label
                        for="fiebre">{{generate fiebre}}</label></td>
            </tr>
            <tr class="tr_symptom">
                <td><label for="dificultad_respitar">Dificultad para respirar:</label></td>
                <td class="td_input">
                    <input type="number" name="dificultad_respitar" max="3" min="0" id="dificultad_respitar"
                        class="form-modal" value="{{ dificultad_respitar }}" /><label
                        for="dificultad_respitar">{{generate dificultad_respitar}}</label></td>
            </tr>
            <tr class="tr_symptom">
                <td><label for="dolor_pecho">Dolor de pecho:</label></td>
                <td class="td_input">
                    <input type="number" name="dolor_pecho" max="3" min="0" id="dolor_pecho"
                        class="form-modal" value="{{ dolor_pecho }}" /><label
                        for="dolor_pecho">{{generate dolor_pecho}}</label></td>
            </tr>
            <tr class="tr_symptom">
                <td><label for="alteracion_sensorio">Alteración del sensorio:</label></td>
                <td  class="td_input">
                    <input type="number" name="alteracion_sensorio" max="3" min="0" id="alteracion_sensorio"
                        class="form-modal" value="{{ alteracion_sensorio }}" /><label
                        for="alteracion_sensorio">{{generate alteracion_sensorio}}</label></td>
            </tr>
            <tr class="tr_symptom">
                <td><label for="colaboracion_azul_labios">Coloración azul (labios):</label></td>
                <td class="td_input">
                <input type="number" name="colaboracion_azul_labios" max="3" min="0" id="colaboracion_azul_labios"
                        class="form-modal" value="{{ colaboracion_azul_labios }}" /><label
                        for="colaboracion_azul_labios">{{generate colaboracion_azul_labios}}</label></td>
            </tr>
            <tr class="tr_symptom">
                <td><label for="tos">Tos:</label></td>
                <td class="td_input">
                    <input type="number" name="tos" max="3" min="0" id="tos"
                        class="form-modal" value="{{ tos }}" /><label
                        for="tos">{{generate tos}}</label></td>
            </tr>
            <tr class="tr_symptom">
                <td><label for="dolor_garganta">Dolor de garganta:</label></td>
                <td class="td_input">
                    <input type="number" name="dolor_garganta" max="3" min="0" id="dolor_garganta"
                        class="form-modal" value="{{ dolor_garganta }}" /><label
                        for="dolor_garganta">{{generate dolor_garganta}}</label></td>
            </tr>
            <tr class="tr_symptom">
                <td><label for="congestion_nasal">Congestión nasal:</label></td>
                <td class="td_input">
                    <input type="number" name="congestion_nasal" max="3" min="0" id="congestion_nasal"
                        class="form-modal" value="{{ congestion_nasal }}" /><label
                        for="congestion_nasal">{{generate congestion_nasal}}</label></td>
            </tr>
            <tr class="tr_symptom">
                <td><label for="malestar_general">Malestar general:</label></td>
                <td class="td_input">
                    <input type="number" name="malestar_general" max="3" min="0" id="malestar_general"
                        class="form-modal" value="{{ malestar_general }}" /><label
                        for="malestar_general">{{generate malestar_general}}</label></td>
            </tr>
            <tr class="tr_symptom">
                <td><label for="cefalea">Cefálea:</label></td>
                <td class="td_input">
                    <input type="number" name="cefalea" max="3" min="0" id="cefalea"
                        class="form-modal" value="{{ cefalea }}" /><label
                        for="cefalea">{{generate cefalea}}</label></td>
            </tr>
            <tr class="tr_symptom">
                <td><label for="nauseas">Nauseas/Vómitos:</label></td>
                <td class="td_input">
                    <input type="number" name="nauseas" max="3" min="0" id="nauseas"
                        class="form-modal" value="{{ nauseas }}" /><label
                        for="nauseas">{{generate nauseas}}</label></td>
            </tr>
            <tr class="tr_symptom">
                <td><label for="diarrea">Diarrea:</label></td>
                <td class="td_input">
                    <input type="number" name="diarrea" max="3" min="0" id="diarrea"
                        class="form-modal" value="{{ diarrea }}" /><label
                        for="diarrea">{{generate diarrea}}</label></td>
            </tr>
            <tr class="">
                <td>
                    <label for="comentario">Comentarios:</label>
                </td>
            </tr>
            <tr>
                <td colSpan="2" class="comment">
                    <textarea id="comentario" class="textarea" name="comentario" placeholder="Ingrese sus comentarios">{{ comentario }}</textarea>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="col-12 p-2 m-4" style="display: flex;flex-wrap : wrap;justify-content: center;">
        <input type="hidden" name="tipo_guardado" id="tipo_guardado">
        <input  class="m-2 btn btn-primary" type="submit" value="Guardar y cerrar caso" onclick="document.getElementById('tipo_guardado').value=2">
        <input  class="m-2 btn btn-success" type="submit" value="Guardar" onclick="document.getElementById('tipo_guardado').value=1">
        <input  class="m-2 btn btn-warning" type="submit" value="Liberar caso" onclick="document.getElementById('tipo_guardado').value=3">
        <input  class="m-2 btn btn-danger" type="button" value="Cancelar" onclick="window.location = '/dashboard'">
    </div>
</form>
