
<script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
<link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link href="https://cdn.jsdelivr.net/npm/jsoneditor@9.5.11/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/jsoneditor@9.5.11/dist/jsoneditor.min.js"></script>
<style>


.showModal {
    display: block;
    padding: 15px;
    background: rgba(0,0,0,0.4);
}

</style>

<!-- Modal -->
<div class="modal bd-example-modal-lg" id="patientListModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pacientes:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModel(document.getElementById('patientListModal'))">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="wrapper"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModel(document.getElementById('patientListModal'))">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<!-- Modal -->
<div class="modal bd-example-modal-lg" id="patientDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">DATOS PACIENTE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModel(document.getElementById('patientDetailModal'))">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="col-md-12">         
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="patientName">Paciente:</label>
                                <input type="text" class="form-control" id="patientName" name="nombre" placeholder="Nombre"
                                    disabled>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="patientDni">DNI:</label>
                                <input type="text" class="form-control" name="dni" id="patientDni" disabled />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="patientPhone">Teléfono</label>
                                <input type="text" class="form-control" name="celular" id="patientPhone" disabled />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="edad">Edad:</label>
                                <input type="text" class="form-control" name="edad" id="patientAge" disabled />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="patientTrays">Tipo Bandeja:</label>
                                <select class="form-control" id="patientTrays" name="estado">
                                    <option value="">Seleccionar</option>
                                    {{#each patientTrays }}
                                    <option value="{{ this.id }}">
                                        {{ this.descripcion }}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="patientGroups">Grupo:</label>
                                <select class="form-control" id="patientGroups" name="grupo" disabled>
                                    <option value="">Seleccionar</option>
                                    {{#each patientGroups}}
                                    <option value="{{ this.id }}">{{ this.id }}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="patientFactors">Factor de riesgo:</label>
                                <select class="form-control" id="patientFactors" name="factor_riesgo" disabled>
                                    <option value="">Seleccionar</option>
                                    {{#each patientFactors}}
                                      <option value="{{ this.id }}">
                                          {{ this.descripcion }}</option>
                                    {{/each}}
                                </select>

                            </div>
                            <div class="form-group col-md-2">
                                <label for="patientIsDoctor">¿Es personal de salud?</label>
                                <select class="form-control" id="patientIsDoctor" name="is_doctor" disabled>
                                    <option value="">Seleccionar</option>
                                    {{#each patientFactors}}
                                      <option value="{{ this.id }}">
                                          {{ this.descripcion }}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="updatePatientButton">Actualizar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModel(document.getElementById('patientDetailModal'))">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->


<!-- Modal -->
<div class="modal bd-example-modal-lg" id="CaseDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">CASO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModel(document.getElementById('CaseDetailModal'))">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="col-md-12">         
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="patientName">Paciente:</label>
                                <input type="text" class="form-control" id="casePatientName" name="nombre" placeholder="Nombre"
                                    disabled>
                            </div>

                        </div>

                        <div class="form-row">

                            <div class="form-group col-md-3">
                                <label for="caseDate">Fecha:</label>
                                <input type="date" class="form-control" name="caseDate" id="caseDate" disabled />
                            </div>


                            <div class="form-group col-md-6">
                                <label for="caseIsMedico">Medico:</label>
                                <select class="form-control" id="caseIsMedico" name="estado">
                                    <option value="">Seleccionar</option>
                                    {{#each medicals }}
                                    <option value="{{ this.dni }}">
                                        {{ this.name }}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="statusCaseList">Estado :</label>
                                <select class="form-control" id="statusCaseList" name="grupo">
                                    {{#each statusCase}}
                                    <option value="{{ this.id }}">{{ this.description }}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="updateCaseButon">Actualizar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModel(document.getElementById('CaseDetailModal'))">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<script>

  function openModel(modelElem) {
    modelElem.classList.add("showModal");
    document.body.style.overflow = "hidden";
  }

  function closeModel(modelElem) {
    modelElem.classList.remove("showModal");
    document.body.style.overflow = "auto";
  }

  function openPatientDetailModel(patient) {
    //closeModel(document.getElementById('patientListModal'));
    openModel(document.getElementById('patientDetailModal'));
    
    document.getElementById("patientName").value = patient.nombre;
    document.getElementById("patientDni").value = patient.dni;
    document.getElementById("patientPhone").value = patient.celular;
    document.getElementById("patientAge").value = patient.edad;
    document.getElementById("patientTrays").value = patient.estado;
    document.getElementById("patientGroups").value = patient.grupo;
    document.getElementById("patientFactors").value = patient.factor_riesgo;
    document.getElementById("patientIsDoctor").value = patient.is_doctor;
    document.getElementById("updatePatientButton").onclick = function(event) {
      updatePatient(patient.dni, {
        "estado": document.getElementById("patientTrays").value
      })
    };
  }

  function openCaseDetailModel(patient) {
    //closeModel(document.getElementById('patientListModal'));
    openModel(document.getElementById('CaseDetailModal'));
    document.getElementById("casePatientName").value = patient.nombre;
    document.getElementById("caseIsMedico").value = patient.dni_medico == null ? "": patient.dni_medico;
    document.getElementById("statusCaseList").value = patient.estado_caso;
    document.getElementById("caseDate").value = patient.fecha_caso.split("T")[0];
    document.getElementById("updateCaseButon").onclick = function(event) {
      console.log((patient, {
        "estado_caso": document.getElementById("statusCaseList").value,
        "dni_medico": document.getElementById("caseIsMedico").value
      }));
      let dni_medico = document.getElementById("caseIsMedico").value;
      updateCase(patient.id, {
        "estado_caso": document.getElementById("statusCaseList").value,
        "dni_medico": dni_medico == "" ? null : dni_medico
      })
    }
  }

  let gridPatients = null;
  let dataPatients = [];
  window.onload = function () {
    gridPatients = new gridjs.Grid({
      columns: [
        "DNI",
        'Nombre',
        'Bandeja',
        'Grupo',
        'Es Doctor?',
        { 
          name: 'Accion',
          formatter: (cell, row) => {
            return gridjs.h('button', {
              className: 'py-2 mb-4 px-4 border rounded-md text-white bg-primary',
              onClick: () => {
                openPatientDetailModel(dataPatients[cell]);
              }
            }, 'Editar');
          }
        },{ 
          name: 'Caso',
          formatter: (cell, row) => {
            if (cell) {
              return gridjs.h('button', {
                className: 'py-2 mb-4 px-4 border rounded-md text-white bg-primary',
                onClick: () => {
                  openCaseDetailModel(dataPatients[row._cells[5].data])
                }
              }, 'Ver caso');
            } else {
              return "";
            }
          }
        }
      ],
      data: [],
      search: true,
      sort: true,
      pagination: true,
      fixedHeader: true,
    }).render(document.getElementById("wrapper"));
  };
  
  async function searchPatient(query) {
    Swal.fire({imageUrl: 'https://i.pinimg.com/originals/7e/fc/2c/7efc2cb33ee4eb9d7625ca1eca702506.gif', title: "Espere un momento."})
    const res = await fetch(`covid/patient?query=${query}`);
    const data = await res.json();
    dataPatients = data;
    const rows = data.map((patient, index)=> {
      return [patient.dni, patient.nombre, patient.descripcion, patient.grupo, patient.is_doctor ? "Si" : "No", index, patient.fecha_caso != null]
    });
    gridPatients.updateConfig({
      search: true,
      data: rows,
      sort: true,
      pagination: true,
      fixedHeader: true,
    }).forceRender();
    let modalElem = document.getElementById("patientListModal");
    Swal.close()
    openModel(modalElem);
  }

  async function updateCase(caseId, body) {
    Swal.fire({imageUrl: 'https://i.pinimg.com/originals/7e/fc/2c/7efc2cb33ee4eb9d7625ca1eca702506.gif', title: "Espere un momento."})
    const res = await fetch(`covid/case/${caseId}`, {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(body)
    }).catch((err)=>{
      Swal.fire({
        icon: 'error',
        title: 'No se pudo actualizar el caso',
        text: err,
      });
    });
    const data = await res.json().catch((err)=>{
      Swal.fire({
        icon: 'error',
        title: 'No se pudo actualizar el caso',
        text: err,
      });
    });
    if (data) {
      Swal.fire({
        icon: 'success',
        title: 'Caso actualizado',
        text: "",
      });
      console.log("Data updateCase");
      console.log(data);
      closeModel(document.getElementById('CaseDetailModal'));
    }
  }

  async function updatePatient(patientDni, body) {
    Swal.fire({imageUrl: 'https://i.pinimg.com/originals/7e/fc/2c/7efc2cb33ee4eb9d7625ca1eca702506.gif', title: "Espere un momento."})
    const res = await fetch(`covid/patient/${patientDni}`, {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(body)
    }).catch((err)=>{
      Swal.fire({
        icon: 'error',
        title: 'No se pudo actualizar al paciente.',
        text: err,
      });
    });
    const data = await res.json().catch((err)=>{
      Swal.fire({
        icon: 'error',
        title: 'No se pudo actualizar al paciente.',
        text: err,
      });
    });
    if (data) {
      Swal.fire({
        icon: 'success',
        title: 'Paciente actualizado',
        text: "",
      });
      console.log("Data updatePatient");
      console.log(data);
      closeModel(document.getElementById('patientDetailModal'));
    }
  }
</script>


<div class="col-md-6" >

  <h3>Actualizar bandeja de casos</h3>

  <div class="form-row">
      <div class="form-group col-md-12" style="flex-wrap: wrap;">
            <label for="searcher_patients">Buscar paciente:</label>
            <input id="searcher_patients" class="form-control col-12" type="text" placeholder="Ingrese el nombre o documento de un paciente"/>
            <br/>
            <button class="btn btn-primary" onclick="searchPatient(document.getElementById('searcher_patients').value)">Buscar</button>
      </div>
  </div>

<br><br>


  <form action="/admin/respuesta-admision" method="post" enctype="multipart/form-data">
    <h3 class="form-title">Carga de Archivo Admisión</h3>
    <br/>
    <div class="col-12">
      <div class="input-group">
        <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Cargar</span>
        </div>
        <div class="custom-file">
            <input type="hidden" value="233232" name="w34321432">
            <input type="file" class="custom-file-input" id="inputGroupFile01"  name ="fileAdmision"
            aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Seleccionar archivo</label>
        </div>
        
      </div>
    </div>
    <br/>
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Comentario</h6>
            </div>
            <div class="card-body">

                <div class="form-group">
                    <textarea class="form-control" style="width: 100%;margin: 0px;padding:1%" id="comentario"
                        name="comment" placeholder="Ingrese sus comentarios"></textarea>
                </div>

            </div>
        </div>
    </div>
    
   <div class="row">

      <div class="col-md-7 col-12">
        <div class="form-group">
            <label for="trabajo_presencial">¿Enviar a bandeja automaticamente?</label>
            <div class="form-group custom-switch">
                <input type="checkbox" class="custom-control-input" name="tray"
                    id="trabajo_presencial" data-toggle="toggle" data-on="Si" data-off="No" data-onstyle="success"
                    data-offstyle="danger" />
            </div>
        </div>
      </div>

      <div class="col-md-5 col-12">
        <div class="form-group">
            <label for="trabajo_presencial">¿Mostrar hoy en la bandeja?</label>
            <div class="form-group custom-switch">
                <input type="checkbox" class="custom-control-input" name="sent_today"
                    id="trabajo_presencial" data-toggle="toggle" data-on="Si" data-off="No" data-onstyle="success"
                    data-offstyle="danger" />
            </div>
        </div>
      </div>

    </div>


    <div class="input-group" style="display: flex; justify-content:center">
      <input type="submit" value="Subir" class="btn btn-primary">
    </div>

      
  </form>


  <br><br>
  <form action="/admin/respuesta-tamizaje" method="post" enctype="multipart/form-data">

  <h3 class="form-title">Carga de Archivo Tamizaje</h3>
  <br/>
    <div class="col-12">
      <div class="input-group">
          <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Cargar</span>
          </div>
          <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01"  name ="fileTamizaje"
              aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Seleccionar archivo</label>
          </div>
          
      </div>
    </div>

    <br/>
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Comentario</h6>
            </div>
            <div class="card-body">

                <div class="form-group">
                    <textarea class="form-control" style="width: 100%;margin: 0px;padding:1%" id="comentario"
                        name="comment" placeholder="Ingrese sus comentarios" >{{ comentario }}</textarea>
                </div>

            </div>
        </div>
    </div>
    
    <div class="row">

      <div class="col-md-7 col-12">
        <div class="form-group">
            <label for="trabajo_presencial">¿Enviar a bandeja automaticamente?</label>
            <div class="form-group custom-switch">
                <input type="checkbox" class="custom-control-input" name="tray"
                    id="trabajo_presencial" data-toggle="toggle" data-on="Si" data-off="No" data-onstyle="success"
                    data-offstyle="danger" />
            </div>
        </div>
      </div>

      <div class="col-md-5 col-12">
        <div class="form-group">
            <label for="trabajo_presencial">¿Mostrar hoy en la bandeja?</label>
            <div class="form-group custom-switch">
                <input type="checkbox" class="custom-control-input" name="sent_today"
                    id="trabajo_presencial" data-toggle="toggle" data-on="Si" data-off="No" data-onstyle="success"
                    data-offstyle="danger" />
            </div>
        </div>
      </div>

    </div>

    <div class="input-group" style="display: flex; justify-content:center">
      <input type="submit" value="Subir" class="btn btn-primary">
    </div>
    <br>
  </form>


  <br><br>
  <script>
    function fullCheckedCase(classname) {
      const input = event.target;
      const checks = document.getElementsByClassName(classname);
      Array.from(checks).forEach((checkInput) => {
        checkInput.checked = input.checked;
      });
    }


  </script>
  <form action="/admin/report/custom" method="post" enctype="multipart/form-data">
      <h3 class="form-title">Carga de Archivo Tamizaje</h3>
      <br/>
      <div style="flex-wrap: wrap; display: flex; justify-content: space-between;">
        <label style="font-weight: bold;">Campos de pacientes:</label>
        <div class="form-check" style="display: inline-block">
          <input class="form-check-input" type="checkbox" id="allcheckedP" checked onchange="fullCheckedCase('checkP')"><label class="form-check-label" for="allcheckedP">Seleccionar todos</label></div>
      </div>
      <div class="col-12" style="flex-wrap: wrap; display: flex;">
         <style>
            .check_report:nth-child(2n+1) {
            }
            .check_report {
              width: 50%;
              display: inline-block;
            }
        </style>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.dni" name="p.dni" value="dni"><label class="form-check-label" for="dni">DNI</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.nombre" name="p.nombre" value="nombre"><label class="form-check-label" for="nombre">Nombre</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.fecha_ingreso" name="p.fecha_ingreso" value="fecha_ingreso"><label class="form-check-label" for="fecha_ingreso">Fecha de ingreso</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.direccion" name="p.direccion" value="direccion"><label class="form-check-label" for="direccion">Direccion</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.celular" name="p.celular" value="celular"><label class="form-check-label" for="celular">Celular</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.fijo" name="p.fijo" value="fijo"><label class="form-check-label" for="fijo">Fijo</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.edad" name="p.edad" value="edad"><label class="form-check-label" for="edad">Edad</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.sexo" name="p.sexo" value="sexo"><label class="form-check-label" for="sexo">Sexo</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.pais" name="p.pais" value="pais"><label class="form-check-label" for="pais">Pais</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.provincia" name="p.provincia" value="provincia"><label class="form-check-label" for="provincia">Provincia</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.distrito" name="p.distrito" value="distrito"><label class="form-check-label" for="distrito">Distrito</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.fecha_inicio_sintomas" name="p.fecha_inicio_sintomas" value="fecha_inicio_sintomas"><label class="form-check-label" for="fecha_inicio_sintomas">Fecha del inicio de sintomas</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.estado" name="p.estado" value="estado"><label class="form-check-label" for="estado">Estado del paciente</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.grupo" name="p.grupo" value="grupo"><label class="form-check-label" for="grupo">Grupo</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.factor_riesgo" name="p.factor_riesgo" value="factor_riesgo"><label class="form-check-label" for="factor_riesgo">Factor de riesgo</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.dias_atencion" name="p.dias_atencion" value="dias_atencion"><label class="form-check-label" for="dias_atencion">Dias de atencion</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.paso_encuesta_inicial" name="p.paso_encuesta_inicial" value="paso_encuesta_inicial"><label class="form-check-label" for="paso_encuesta_inicial">Paso encuesta inicial</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.fecha_creacion" name="p.fecha_creacion" value="fecha_creacion"><label class="form-check-label" for="fecha_creacion">Fecha creacion</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.tipo_documento" name="p.tipo_documento" value="tipo_documento"><label class="form-check-label" for="tipo_documento">Tipo documento</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.fecha_prueba_1" name="p.fecha_prueba_1" value="fecha_prueba_1"><label class="form-check-label" for="fecha_prueba_1">Fecha de prueba 1</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.fecha_resultado_prueba_1" name="p.fecha_resultado_prueba_1" value="fecha_resultado_prueba_1"><label class="form-check-label" for="fecha_resultado_prueba_1">Fecha del resultado de la prueba 1</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.tipo_prueba_1" name="p.tipo_prueba_1" value="tipo_prueba_1"><label class="form-check-label" for="tipo_prueba_1">Tipo de prueba 1</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.fecha_prueba_2" name="p.fecha_prueba_2" value="fecha_prueba_2"><label class="form-check-label" for="fecha_prueba_2">Fecha de prueba 2</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.fecha_resultado_prueba_2" name="p.fecha_resultado_prueba_2" value="fecha_resultado_prueba_2"><label class="form-check-label" for="fecha_resultado_prueba_2">Fecha del resultado de la prueba 2</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.tipo_prueba_2" name="p.tipo_prueba_2" value="tipo_prueba_2"><label class="form-check-label" for="tipo_prueba_2">Tipo de prueba 2</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.fecha_prueba_3" name="p.fecha_prueba_3" value="fecha_prueba_3"><label class="form-check-label" for="fecha_prueba_3">Fecha de prueba 3</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.fecha_resultado_prueba_3" name="p.fecha_resultado_prueba_3" value="fecha_resultado_prueba_3"><label class="form-check-label" for="fecha_resultado_prueba_3">Fecha del resultado de la prueba 3</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.tipo_prueba_3" name="p.tipo_prueba_3" value="tipo_prueba_3"><label class="form-check-label" for="tipo_prueba_3">Tipo de prueba 3</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.resultado_prueba_1" name="p.resultado_prueba_1" value="resultado_prueba_1"><label class="form-check-label" for="resultado_prueba_1">Resultado de prueba 1</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.resultado_prueba_2" name="p.resultado_prueba_2" value="resultado_prueba_2"><label class="form-check-label" for="resultado_prueba_2">Resultado de prueba 2</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.resultado_prueba_3" name="p.resultado_prueba_3" value="resultado_prueba_3"><label class="form-check-label" for="resultado_prueba_3">Resultado de prueba 3</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.fecha_prueba" name="p.fecha_prueba" value="fecha_prueba"><label class="form-check-label" for="fecha_prueba">Fecha de prueba</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.is_doctor" name="p.is_doctor" value="is_doctor"><label class="form-check-label" for="is_doctor">Es doctor</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.condicion_egreso" name="p.condicion_egreso" value="condicion_egreso"><label class="form-check-label" for="condicion_egreso">Condicion de egreso</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.nota_grupo" name="p.nota_grupo" value="nota_grupo"><label class="form-check-label" for="nota_grupo">Nota de grupo</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.id_hospital" name="p.id_hospital" value="id_hospital"><label class="form-check-label" for="id_hospital">Id hospital</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.id_tipo_registro" name="p.id_tipo_registro" value="id_tipo_registro"><label class="form-check-label" for="id_tipo_registro">Id tipo de registro</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.id_motivo_prueba" name="p.id_motivo_prueba" value="id_motivo_prueba"><label class="form-check-label" for="id_motivo_prueba">Id motivo de la prueba</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.acepto_terminos" name="p.acepto_terminos" value="acepto_terminos"><label class="form-check-label" for="acepto_terminos">Acepto los terminos</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.acepto_terminos_datos" name="p.acepto_terminos_datos" value="acepto_terminos_datos"><label class="form-check-label" for="acepto_terminos_datos">Acepto los terminos de datos</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.fecha_respuesta_terminos" name="p.fecha_respuesta_terminos" value="fecha_respuesta_terminos"><label class="form-check-label" for="fecha_respuesta_terminos">Fecha de la respuesta de terminos</label></div>
        <div class="form-check check_report"><input class="form-check-input checkP" type="checkbox" checked id="p.fecha_ultima_actualizacion" name="p.fecha_ultima_actualizacion" value="fecha_ultima_actualizacion"><label class="form-check-label" for="fecha_ultima_actualizacion">fecha de la ultima actualizacion</label></div>
      </div>
      <br/>
      <div style="flex-wrap: wrap; display: flex; justify-content: space-between;">
        <label style="font-weight: bold;">Campos de casos:</label>
        <div class="form-check" style="display: inline-block">
          <input class="form-check-input" type="checkbox" id="allcheckedC" checked onchange="fullCheckedCase('checkC')"><label class="form-check-label" for="allcheckedC">Seleccionar todos</label></div>
      </div>
      <div class="col-12" style="flex-wrap: wrap; display: flex;">
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.estado_caso" name="c.estado_caso" value="estado_caso"><label class="form-check-label" for="estado_caso">Estado del caso</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.fiebre" name="c.fiebre" value="fiebre"><label class="form-check-label" for="fiebre">Fiebre</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.dificultad_respitar" name="c.dificultad_respitar" value="dificultad_respitar"><label class="form-check-label" for="dificultad_respitar">Dificultad al respitar</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.dolor_pecho" name="c.dolor_pecho" value="dolor_pecho"><label class="form-check-label" for="dolor_pecho">Dolor en el pecho</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.alteracion_sensorio" name="c.alteracion_sensorio" value="alteracion_sensorio"><label class="form-check-label" for="alteracion_sensorio">Alteracion sensorio</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.colaboracion_azul_labios" name="c.colaboracion_azul_labios" value="colaboracion_azul_labios"><label class="form-check-label" for="colaboracion_azul_labios">Colaboracion azul en los labios</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.tos" name="c.tos" value="tos"><label class="form-check-label" for="tos">Tos</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.dolor_garganta" name="c.dolor_garganta" value="dolor_garganta"><label class="form-check-label" for="dolor_garganta">Dolor de garganta</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.congestion_nasal" name="c.congestion_nasal" value="congestion_nasal"><label class="form-check-label" for="congestion_nasal">Congestion nasal</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.malestar_general" name="c.malestar_general" value="malestar_general"><label class="form-check-label" for="malestar_general">Malestar general</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.cefalea" name="c.cefalea" value="cefalea"><label class="form-check-label" for="cefalea">Cefalea</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.nauseas" name="c.nauseas" value="nauseas"><label class="form-check-label" for="nauseas">Nauseas</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.diarrea" name="c.diarrea" value="diarrea"><label class="form-check-label" for="diarrea">Diarrea</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.comentario" name="c.comentario" value="comentario"><label class="form-check-label" for="comentario">Comentario</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.fecha_caso" name="c.fecha_caso" value="fecha_caso"><label class="form-check-label" for="fecha_caso">Fecha del caso</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.fecha_cierre_caso" name="c.fecha_cierre_caso" value="fecha_cierre_caso"><label class="form-check-label" for="fecha_cierre_caso">Fecha del cierre de caso</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.dni_medico" name="c.dni_medico" value="dni_medico"><label class="form-check-label" for="dni_medico">DNI del medico</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.fecha_tomado" name="c.fecha_tomado" value="fecha_tomado"><label class="form-check-label" for="fecha_tomado">Fecha de tomado</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.disnea_sa" name="c.disnea_sa" value="disnea_sa"><label class="form-check-label" for="disnea_sa">Disnea sa</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.taqui_sa" name="c.taqui_sa" value="taqui_sa"><label class="form-check-label" for="taqui_sa">Taqui sa</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.saturacion_sa" name="c.saturacion_sa" value="saturacion_sa"><label class="form-check-label" for="saturacion_sa">Saturacion sa</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.alteracion_sa" name="c.alteracion_sa" value="alteracion_sa"><label class="form-check-label" for="alteracion_sa">Alteracion sa</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.otros_sa" name="c.otros_sa" value="otros_sa"><label class="form-check-label" for="otros_sa">Otros sa</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.otros" name="c.otros" value="otros"><label class="form-check-label" for="otros">Otros</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.estado_evo" name="c.estado_evo" value="estado_evo"><label class="form-check-label" for="estado_evo">Estado evo</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.temp_fv" name="c.temp_fv" value="temp_fv"><label class="form-check-label" for="temp_fv">Temperatura fv</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.fr_fv" name="c.fr_fv" value="fr_fv"><label class="form-check-label" for="fr_fv">Fr fv</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.fc_fv" name="c.fc_fv" value="fc_fv"><label class="form-check-label" for="fc_fv">Fc fv</label></div>
        <div class="form-check check_report"><input class="form-check-input checkC" type="checkbox" checked id="c.sat_fv" name="c.sat_fv" value="sat_fv"><label class="form-check-label" for="sat_fv">Sat fv</label></div>
      </div>
      <br/>
      <div class="input-group" style="display: flex; justify-content:center">
        <input type="submit" value="Generar reporte" class="btn btn-primary">
      </div>
      <br>
  </form>
  
</div>

<div class="col-md-6">
  <div class="col-md-12">
    <h2>Convertir formato</h2>
    <div class="form-row">
      <div class="col-12">
        <label for="jsoneditor">Configuraciones de conversion:</label>
        <div id="jsoneditor" style="width: 100%; height: 600px;"></div>
        <br/>
        <input type="button" value="Actualizar" class="btn btn-primary" onclick='updateSchema(editor.get())'/>
        <br/>
        <br/>
        <script>
          // create the editor
          const container = document.getElementById("jsoneditor")
          const options = {}
          const editor = new JSONEditor(container, options)

          // set json
          const initialJson = {{{schema}}};
          editor.set(initialJson);

          // get json
          //const updatedJson = editor.get();
          //console.log(updatedJson);

          //    
          async function updateSchema(schema) {
            Swal.fire({imageUrl: 'https://i.pinimg.com/originals/7e/fc/2c/7efc2cb33ee4eb9d7625ca1eca702506.gif', title: "Espere un momento."});
            try {
              const res = await fetch('/admin/excel/schema', {
                method: 'POST',
                body: JSON.stringify(schema),
                headers: {"Content-type": "application/json; charset=UTF-8"}
              });
              const data = await res.json();
              console.log(data);
              Swal.fire({
                icon: 'success',
                title: 'Esquema actualizado correctamente.',
                text: '',
              });
            } catch(e){
              Swal.fire({
                icon: 'error',
                title: 'Problemas actualizando el esquema.',
                text: '',
              });
            }
          }
        </script>
      </div>
    </div>
    <div class="form-row">
      
      <form class="col-md-12" action="/admin/excel/convert" target="_blank" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="fileData">Fuentes de datos:</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="fileData" name="fileData" lang="es" required>
            <label class="custom-file-label" for="fileData" id="fileDataLabel">Seleccionar Archivo</label>
            <script type="application/javascript">
              $('#fileData').change(function(e){
                var fileName = e.target.files[0].name;
                $('#fileDataLabel').html(fileName);
              });
            </script>
          </div>
        </div>

        <div class="form-group">
          <label for="fileExclude">Fuentes de excluidos:</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="fileExclude" name="fileExclude" lang="es" required>
            <label class="custom-file-label" for="fileExclude" id="fileExcludeLabel">Seleccionar Archivo</label>
            <script type="application/javascript">
              $('#fileExclude').change(function(e){
                var fileName = e.target.files[0].name;
                $('#fileExcludeLabel').html(fileName);
              });
            </script>
          </div>
        </div>

        <input type="submit" value="Convertir" class="btn btn-primary"/>
      </form>
    </div>
  </div>
  <br>
  <br>
  <div class="col-md-12" >
    <h2>Reportes de casos</h2>
    <br>
    <div class="form-row">
        <div class="form-group col-md-6" style="flex-wrap: wrap;">
            <label for="fecha_inicio">Fecha de inicio:</label>
            <input id="fecha_inicio" class="form-control col-12" type="date" onchange="setUrlReportCases()" onkeypress="setUrlReportCases()"/>
        </div>
        <div class="form-group col-md-6" style="flex-wrap: wrap;">
            <label for="downloadReportCases">Fecha de fin:</label>
            <input id="fecha_fin" class="form-control col-12" type="date" onchange="setUrlReportCases()" onkeypress="setUrlReportCases()"/>
        </div>
    </div>
    <script>
      function setUrlReportCases() {
        const init = document.getElementById("fecha_inicio");
        const finish = document.getElementById("fecha_fin");
        const download = document.getElementById("downloadReportCases");
        if (init.value != '' && finish.value != '') {
          download.href = `/api/v1/report/case/${init.value}/${finish.value}`;
          download.download = true;
        } else {
          download.href = '#';
          download.removeAttribute('download');
        }
      }
    </script>
    <a href="#" class="btn btn-primary" id="downloadReportCases" >Descargar</a>
  </div>
  <br>
  <br>
  <div class="col-md-12" >
    <h2>Reportes de encuestas iniciales</h2>
    <br>
    <div class="form-row">
        <div class="form-group col-md-6" style="flex-wrap: wrap;">
            <label for="fecha_inicio2">Fecha de inicio:</label>
            <input id="fecha_inicio2" class="form-control col-12" type="date" onchange="setUrlReportSurveyInit()" onkeypress="setUrlReportSurveyInit()"/>
        </div>
        <div class="form-group col-md-6" style="flex-wrap: wrap;">
            <label for="fecha_fin2">Fecha de fin:</label>
            <input id="fecha_fin2" class="form-control col-12" type="date" onchange="setUrlReportSurveyInit()" onkeypress="setUrlReportSurveyInit()"/>
        </div>
    </div>
    <script>
      function setUrlReportSurveyInit() {
        const init = document.getElementById("fecha_inicio2");
        const finish = document.getElementById("fecha_fin2");
        const download = document.getElementById("downloadReportSurveyInit");
        
        if (init.value != '' && finish.value != '') {
          download.href = `/api/v1/report/initial_survey/${init.value}/${finish.value}`;
          download.download = true;
        } else {
          download.removeAttribute('download');
          download.href = '#';
        }
      }
    </script>
    <a href="#" class="btn btn-primary" id="downloadReportSurveyInit">Descargar</a>
  </div>
  <br>
  <br>
  <div class="col-md-12" >
    <h2>Reportes de encuestas diarias</h2>
    <br>
    <div class="form-row">
        <div class="form-group col-md-6" style="flex-wrap: wrap;">
            <label for="fecha_inicio3">Fecha de inicio:</label>
            <input id="fecha_inicio3" class="form-control col-12" type="date" onchange="setUrlReportSurveyDaily()" onkeypress="setUrlReportSurveyDaily()"/>
        </div>
        <div class="form-group col-md-6" style="flex-wrap: wrap;">
            <label for="fecha_fin3">Fecha de fin:</label>
            <input id="fecha_fin3" class="form-control col-12" type="date" onchange="setUrlReportSurveyDaily()" onkeypress="setUrlReportSurveyDaily()"/>
        </div>
    </div>
    <script>
      function setUrlReportSurveyDaily() {
        const init = document.getElementById("fecha_inicio3");
        const finish = document.getElementById("fecha_fin3");
        const download = document.getElementById("downloadReportSurveyDaily");
        
        if (init.value != '' && finish.value != '') {
          download.href = `/api/v1/report/daily_survey/${init.value}/${finish.value}`
          download.download = true;
        } else {
          download.removeAttribute('download');
          download.href = '#';
        }
      }
    </script>
    <a href="#" class="btn btn-primary" id="downloadReportSurveyDaily">Descargar</a>
  </div>
  <br>
  <br> 
</div>

 <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{{!-- // http://localhost:3000/api/v1/report/case/2020-01-20/2020-12-20
// http://localhost:3000/api/v1/report/initial_survey/2020-01-20/2020-12-20
// http://localhost:3000/api/v1/report/daily_survey/2020-01-20/2020-12-20 --}}